@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<img src="~/cowboy-cafe-images/BuckingBronco.png" alt="Bucking Bronco" style="width:50%; display:block; margin-left:auto; margin-right: auto;"/>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>
